input {
    border: 1px solid black;
    padding: 3px;
    border-radius: 3px;
    min-height: 30px;
    
}
@font-face {
    font-family: HeadingPooppin;
    src: url('./assets/Fonts/Poppins/Poppins-ExtraBold.ttf');
}
#Tittle {
    font-family: HeadingPooppin;
    font-size: xx-large;
    
}

@media only screen and (max-width : 640px) {
    #Tittle {
        font-family: HeadingPooppin;
        font-size: x-large;
    }
}

@font-face {
    font-family: PoppindBold;
    src: url('./assets/Fonts/Poppins/Poppins-Bold.ttf');
  }
  @font-face {
    font-family: PoppinsSemiBold;
    src: url('./assets/Fonts/Poppins/Poppins-SemiBold.ttf');
  }
  
#NavAnime {
  animation: AnimeNav 6s ease-in-out infinite  ;
  
}

@keyframes AnimeNav {
  0% {
    background-image: linear-gradient(to right, #a3e635, #0ea5e9);
  }
  50% {
    background-image: linear-gradient(to right, #0ea5e9, #a3e635);
  }
  100% {
    background-image: linear-gradient(to right, #a3e635, #0ea5e9);
  }
}